Options All -ExecCGI -Indexes -Includes +FollowSymLinks

DirectoryIndex index.php index.html index.htm

# Bad Request
ErrorDocument 400 /error.html
# Authorization Required
ErrorDocument 401 /401.html
# Forbidden
ErrorDocument 403 /error.html
# Not found
ErrorDocument 404 /404.html
# Method Not Allowed
ErrorDocument 405 /error.html
# Request Timed Out
ErrorDocument 408 /error.html
# Request URI Too Long
ErrorDocument 414 /error.html
# Internal Server Error
ErrorDocument 500 /error.html
# Not Implemented
ErrorDocument 501 /error.html
# Bad Gateway 
ErrorDocument 502 /error.html
# Service Unavailable 
ErrorDocument 503 /error.html
# Gateway Timeout
ErrorDocument 504 /error.html

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /

    # Редиректы страниц со старого сайта
    Redirect 301 /about/ /about
    Redirect 301 /menu/ /price
    Redirect 301 /billiard/ /price
    Redirect 301 /new-page/ /tournaments
    Redirect 301 /galery/ /special-offers
    Redirect 301 /new-page-1/ /school
    Redirect 301 /kontakt/ /contacts
    
    # Убрать WWW
    RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    # Убрать /index.html или /index.php
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.(html|php)\ HTTP/
    RewriteRule ^index\.(html|php)$ http://legendbc.ru/ [R=301,L]

    # Убрать .html или .php
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.(html|php)\ HTTP
    RewriteRule ^([^.]+)\.(html|php)$ http://legendbc.ru/$1 [R=301,L]
    RewriteCond %{REQUEST_URI} !(\.[^./]+)$
    RewriteCond %{REQUEST_fileNAME} !-d
    RewriteCond %{REQUEST_fileNAME} !-f
    RewriteRule (.*) /$1.html [L]
    
    # No hotlink
    RewriteCond %{HTTP_REFERER} !^http://(.+\.)?legendbc\.ru/ [NC]
    RewriteCond %{HTTP_REFERER} !^$
    RewriteRule .*\.(jpe?g|gif|bmp|png)$ /assets/nohotlinks.png [L]
</IfModule>

<IfModule mod_setenvif.c>
    SetEnv TZ Europe/Moscow
</IfModule>

ServerSignature Off
AddDefaultCharset UTF-8

<ifModule mod_php.c>
    php_value   upload_max_filesize 32M
    php_value   post_max_size       10M
    php_value   default_charset utf-8
    php_value   max_execution_time 200
</ifModule>

AddHandler application/x-httpd-php .html
AddHandler cgi-script .pl .py .jsp .asp .htm .shtml .sh .cgi

AddType application/vnd.ms-fontobject .eot
AddType application/font-woff .woff
AddType application/font-woff2 .woff2
AddType application/font-sfnt .ttf .otf
AddType image/svg+xml .svg
AddType application/x-javascript .js
AddType text/css .css
AddType text/xml .xml
AddType application/octet-stream .doc .mov .avi .pdf .xls 

<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript image/svg+xml application/vnd.ms-fontobject application/font-woff application/font-woff2 application/font-sfnt
</ifModule>

<IfModule mod_gzip.c>
    mod_gzip_on         Yes
    mod_gzip_dechunk    Yes
    mod_gzip_item_include file      \.(html?|txt|css|js|php|pl)$
    mod_gzip_item_include mime      ^text\.*
    mod_gzip_item_include mime      ^application\.*
    mod_gzip_item_exclude mime      ^image\.*
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>

<ifModule mod_headers.c>    
    # Кэшировать html и htm файлы на один день
    <FilesMatch "\.(html|htm)$">
        Header set Cache-Control "max-age=43200"
    </FilesMatch>

    # Кэшировать css, javascript и текстовые файлы на одну неделю
    <FilesMatch "\.(js|css|txt)$">
        Header set Cache-Control "max-age=604800"
    </FilesMatch>

    # Кэшировать флэш и изображения на месяц
    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png|svg|ttf|woff|otf|eot|woff2)$">
        Header set Cache-Control "max-age=2592000"
    </FilesMatch>

    # Отключить кэширование
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
        Header unset Cache-Control
    </FilesMatch>
</IfModule>

<ifModule mod_expires.c>
    ExpiresActive On
    
    # По умолчанию кеш в 5 секунд
    ExpiresDefault "access plus 60 seconds"
    
    # Кэшировать шрифты и изображения на месяц
    ExpiresByType image/x-icon "access plus 2592000 seconds"
    ExpiresByType image/jpeg "access plus 2592000 seconds"
    ExpiresByType image/png "access plus 2592000 seconds"
    ExpiresByType image/gif "access plus 2592000 seconds"
    ExpiresByType image/svg+xml "access plus 2592000 seconds"
    ExpiresByType application/font-sfnt "access plus 2592000 seconds"
    ExpiresByType application/font-woff2 "access plus 2592000 seconds"
    ExpiresByType application/font-woff "access plus 2592000 seconds"
    ExpiresByType application/vnd.ms-fontobject "access plus 2592000 seconds"
  
    # Кэшировать css, javascript и текстовые файлы на одну неделю
    ExpiresByType text/css "access plus 604800 seconds"
    ExpiresByType text/javascript "access plus 604800 seconds"
    ExpiresByType application/javascript "access plus 604800 seconds"
    ExpiresByType application/x-javascript "access plus 604800 seconds"
    ExpiresByType text/plain "access plus 604800 seconds"
   
    # Кэшировать html и htm файлы на один день
    ExpiresByType text/html "access plus 43200 seconds"
  
    # Кэшировать xml файлы на десять минут
    ExpiresByType application/xhtml+xml "access plus 600 seconds"
    ExpiresByType application/xml "access plus 600 seconds"
    ExpiresByType text/xml "access plus 600 seconds"
</ifModule>

